<html>
    <style>
      {% include 'renu_customization/print_format/rfa_packing_list/rfa_packing_list.css' %}
</style>
    {% set company = frappe.get_doc("Company", doc.company) %}
<body>
  <div class="print-container">
    <table class="outer-table">
      <!-- HEADER -->
      <tr>
          <td colspan="4" class="header-center">
              <h2>PACKING LIST</h2>
          </td>
      </tr>
      <!-- COMPANY, BUYER PO, WARRANTY -->
      <tr>
          <td colspan="2" class="company-info">
              <div class="logo-placeholder">
                  <img src="{{ frappe.db.get_value('Company',doc.company,'logo_for_printing') }}" style="max-width: 100px;">
              </div>
              
              <div><p><strong>Exporter:-</strong></p><div class="details-company">
              <p><b>{{ doc.company or "" }}</b></p>
              <p>
                  <p><strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"company")}}</strong></p>
                <strong>Address:- </strong>{{ frappe.db.get_value("Address", frappe.db.get_value("Delivery Note",doc.delivery_note,"company_address"), "address_line1") or "" }} 
                <!-- {{ frappe.db.get_value("Address", frappe.db.get_value("Delivery Note",doc.delivery_note,"company_address"), "city") or "" }},
                {{ frappe.db.get_value("Address", frappe.db.get_value("Delivery Note",doc.delivery_note,"company_address"), "country") or "" }}
                - {{ frappe.db.get_value("Address", frappe.db.get_value("Delivery Note",doc.delivery_note,"company_address"), "pincode") or "" }} -->
                <!--<p><strong><strong>Address:- </strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"company_address_display")}}</strong></p>-->
                <!--</p>-->
                </div>
                <p class="phone"><strong>Tel. No. {{frappe.db.get_value("Address",doc.company_address,"phone") or "" }}</strong>
                </p></div>
          </td>
          
          <td class="details-col2 label-col" rowspan="3" style="width: 25%;">
          <p><strong>Country of Origin:</strong></p>
          <p><strong>Pre-Carriage by:</strong></p>
          <p><strong>Place of Receipt by Courier:</strong></p>
          <p><strong>Vessel/Flight No.:</strong></p>
          <p><strong>Port of Loading:</strong></p>
          <p><strong>Port of Discharge:</strong></p>
          <p><strong>Final Destination:</strong></p>
          <p><strong>Country of Final Destination:</strong></p>
        </td>

<td class="details-col2" rowspan="3">
  <p><strong>{{ frappe.db.get_value("Company", doc.company_address, "country") or "" }}</strong></p> 
  <p><strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"pre_carriage_by") or ""}}</strong></p>
  <p><strong>{{ frappe.db.get_value("Address", doc.company_address, "city") or "" }}</strong></p>
  <p><strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"vesselorflightno") or ""}}</strong></p>
  <!-- <p><strong>{{ frappe.db.get_value("Delivery Note", frappe.db.get_value("Delivery Note",doc.delivery_note,"port_of_loading"), "port_of_loading") or "" }}</strong></p>
  <p><strong>{{ frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"shipping_address_name"),"city") or ""}}</strong></p> -->
  <p><strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"port_of_loading") or ""}}</strong></p>
  <p><strong>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"port_of_discharge") or ""}}</strong></p>
  <p><strong>{{ frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"city") or ""}}</strong></p>
  <p><strong>{{ frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"shipping_address_name"),"country") or ""}}</strong></p>
</td>

      <tr>
        <td class="partition-label">Invoice No.</td>
        <td class="partition-value">{{ doc.name or ""}}</td>
      </tr>
      <tr>
        <td class="partition-label">Invoice Date</td>
        <td class="partition-value">{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"posting_date") or ""}}</td>
      </tr>
     
      <tr>
        <td class="partition-label">GST No.</td>
        <td class="partition-value">{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"company_gstin") or ""}}</td>
      </tr>
      <tr>
        <td class="partition-label">PAN</td>
        <td class="partition-value">{{ frappe.db.get_value("Company", doc.company, "pan") or ""}}</td>
      </tr>
      <tr>
        <td class="partition-label">IEC Code</td>
        <td class="partition-value">{{ frappe.db.get_value("Company", doc.company, "iec_code") or ""}}</p></td>
      </tr>
 
      <!-- ADDRESS BLOCKS -->
      <tr>
          <td colspan="2" class="address-block">
              <b>Billed To: </b>
              <p><strong>{{frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_name")}}</strong></p>
              <p>{{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"address_line1") or ""}}</p>
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"city") or ""}},
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"state") or ""}},
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"country") or ""}},
              <p>Pincode: {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"pincode") or ""}}</p>
             
              <p><b>Kind Attention: </b>{{frappe.db.get_value("Contact", frappe.db.get_value("Delivery Note",doc.delivery_note,"contact_person"),"first_name") or ""}} {{frappe.db.get_value("Contact", frappe.db.get_value("Delivery Note",doc.delivery_note,"contact_person"),"last_name") or ""}}</p>
              <p><b>Contact No.: </b>{{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"phone") or ""}}</p>
          </td>
          <td colspan="2" class="address-block">
              <b>Shipped To: </b>
              <p><strong>{{frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_name")}}</strong></p>
              <p>{{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"shipping_address_name"),"address_line1") or ""}}</p>
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"city") or ""}},
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"state") or ""}},
              {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"country") or ""}},
              <p>Pincode: {{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"pincode") or ""}}</p>
             
              <p><b>Kind Attention: </b>{{ frappe.db.get_value("Contact", frappe.db.get_value("Delivery Note",doc.delivery_note,"contact_person"),"first_name") or ""}} {{frappe.db.get_value("Contact", frappe.db.get_value("Delivery Note",doc.delivery_note,"contact_person"),"last_name") or ""}}</p>
              <p><b>Contact No.: </b>{{frappe.db.get_value("Address",frappe.db.get_value("Delivery Note",doc.delivery_note,"customer_address"),"phone") or ""}}</p>
          </td>
      </tr>
      <!-- ITEMS -->
      <tr>
          <td colspan="4">
              <table class="items-table">
                  <thead>
                      <tr>
                          <th rowspan="2" style="width: 30%;">Description of Goods</th>
                          <th rowspan="2" style="width: 18%;text-align:center;">Serial No's or Lot No's</th>
                          <th colspan="4" style="text-align:center;">BOX PACKING DETAILS</th>
                      </tr>
                      <tr>
                          <th style="width: 9%;text-align:center">Qty</th>
                          <th style="width: 9%;text-align:center">Box No.</th>
                          <th style="width: 17%;text-align:center">Size (MM)</th>
                          <th style="width: 13%;text-align:center">Weight (KG)</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in doc.items %}
                            <tr>
                                <td><strong>{{ item.item_code }}</strong><br>{{ item.item_name }}</td>
                            <!-- <td>
                              {% if item.serial_no %}
                                  <small style="white-space: pre-line;">
                                      {{ item.serial_no or "" }}
                                  </small>
                              {% endif %}
                          </td> -->
                          <td>
                                        {% if item.serial_no %}
                                    <small>
                                                {{
                                                    ", ".join(
                                                        item.serial_no
                                                        .replace('\n', ',')
                                                        .split(',')
                                                        | map('trim')
                                                        | select
                                                    )
                                                }}
                                    </small>
                                        {% endif %}
                                    </td>
 
                                <td class="text-center">{{ item.qty }}</td>
                                <td class="text-center">{{ item.box_no or '' }}</td>
                                <td class="text-center">{{ item.dimension or '' }}</td>
                                <td class="text-right">{{ item.net_weight or '0.00' }}</td>
                            </tr>
                            {% endfor %}
                      <tr>
                      <td colspan="4" class="remarks-cell">
                          <h6>Remarks</h6><div>{{ doc.remarks or '' }}</div>
                      </td>
                      <td class="totals">
                        <p>Total Weight (KG)</p>
                        <p>Net Weight (KG)</p>
                        <!-- <p>Total Boxes (Nos)</p> -->
                      </td>
                    
                      <td colspan="4" class="totals">
                        <p>{{ doc.total_weight or '0.00' }}</p>
                      <p>{{ doc.net_weight_pkg or '0.00' }}</p>
                      <!-- <p>{{ frappe.db.get_value("Delivery Note",doc.delivery_note,"total_qty") or "" }} -->
                      <!--<span id="total-boxes-in-words" style="font-weight: normal; padding-left: 5px;"></span></p>-->
                  </td>
                      
                  </tr>
                  </tbody>
              </table>
              
          </td>
      </tr>

      <!-- PAYMENT TERMS & SIGNATURE -->
      <tr class="payment_term">
          <td colspan="3"><b></b></td>
          <th class="signature-block" style="width: 32%;text-align:right;">For {{ frappe.db.get_value("Delivery Note",doc.delivery_note,"company")}}<br><br><br><br><br>
          <p>Authorised Signatory</p>
          <!--<p>{{frappe.db.get_value("User",doc.owner,"full_name")}}</p>-->
          <p></p>
          </th>
      </tr>
      
      <tr>
          <!-- <td colspan="4" class="footer-line"></td> -->
           <td colspan="4" class="footer-line">
                <!-- Place of Business :- {{frappe.db.get_value("Address", doc.company_address, "address_line1") or ""}}
                Website:- {{company.website or ""}} -->
                Place of Business :- {{
                    frappe.db.get_value(
                        "Address",
                        frappe.db.get_value("Company", doc.company, "address_line1"),
                        "address_line1"
                    ) or ""
                }}
                Website :- 

                {{frappe.db.get_value("Company", doc.company, "website") or ""}} Email:- {{frappe.db.get_value("Company", doc.company, "email") or ""}} Phone No.:- {{frappe.db.get_value("Company", doc.company, "phone_no") or ""}} GSTIN:-
                {{frappe.db.get_value("Company", doc.company, "gstin") or ""}} PAN:- {{frappe.db.get_value("Company",
                doc.company, "pan") or ""}}
            </td>
      </tr>
    </table>
  </div>
</body>
</html>
