<style>
{%include "renu_customization/print_format/rfa_purchase_order/rfa_purchase_order.css" %}
</style>
{% set company = frappe.get_doc("Company", doc.company) %}
<html>

<body>

<div class="outer-box">

    <!-- Header -->
    <div class="header">
        {% if company.logo_for_printing %}
        <!--<img src="{{ frappe.utils.get_url(doc.company_logo or doc.company.logo_for_printing) }}" style="max-width: 120px;">-->
        <img src="{{company.logo_for_printing}}" style="max-width: 120px;">
        {% endif %}

        <div class="company-details">
            <strong class="compnay-info-name">{{ company.company_name or ""}}</strong><br>
           <p>{{ frappe.db.get_value("Address", doc.billing_address, "address_line1" ) or ""}}</p>
        </div>
    </div>

    <!-- Supplier + PO Info -->
    <table>
        <tr>
            <td rowspan="2" style= "width:63%">
                <span class="label">To,</span><br><br>
                {{ doc.supplier_name or ""}}
            </td>
            <td><span class="label">PO NO :</span> {{ doc.name or "" }}</td>
        </tr>
        <tr>
            <td><span class="label">Date :</span> {{ doc.transaction_date or "" }}</td>
        </tr>
    </table>

    <!-- Title -->
    <div class="po">PURCHASE ORDER</div>

    <!-- Items Table -->
    <table>
       <thead>
    <tr>
        <th>Sr. No.</th>
        <th>Description</th>
        <th>Qty</th>
        <th>Item Rate (INR)</th>
        <th>Amount (INR)</th>
    </tr>
</thead>

        <tbody>
            {% for row in doc.items %}
            <tr>
                <td style="text-align:center;">{{ loop.index }}</td>
                <td style="text-align:center;">{{ row.item_name or "" }}</td>
                <td style="text-align:right;">{{ row.qty or "" }}</td>
                <td style="text-align:right;">{{ row.rate or "" }}</td>
                <td style="text-align:right;">{{ row.amount or "" }}</td>
            </tr>
            {% endfor %}
            <tr><td colspan="5"><p style="padding:4px;"></p></td></tr>
             <tr>
            <td colspan="2"></td>
            <td colspan="2"><b>Total:</b></td>
            <td style="text-align:right;">{{ frappe.utils.fmt_money(doc.total, 2, doc.currency) }}</td>
        </tr>
        <tr>
             <td colspan="2"></td>
            <td colspan="2"><b>GST 18%:</b></td>
            <td style="text-align:right;">{{ frappe.utils.fmt_money((doc.taxes_and_charges_added) | round(2), 2, doc.currency) }}</td>
        </tr>
        <tr>
             <td colspan="2"></td>
            <td colspan="2"><b>Final Total:</b></td>

            <td style="text-align:right;">{{ frappe.utils.fmt_money((doc.grand_total) | round(2), 2, doc.currency) }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Totals -->
 

    <!-- Terms & Conditions -->
    <table>
        <tr>
            <td>Terms and Conditions:-</td>

            <td>{{doc.tc_name or ""}}</td>

        </tr>
        <tr>
            <td>GST - If applicable</td>
            <td >
                Validity :- 60 days <br>
                
            </td>
        </tr>
        <tr style="height:100px;">
            <td>Payment Term :
                 {% if doc.payment_terms_template %}
                <ul>
                {% for row in doc.payment_schedule %}
                    <li>{{ row.payment_term or ""}}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td> Delivery Period :-
                 {% if doc.items %}
                From {{ doc.items | map(attribute="schedule_date") | min }}
                To {{ doc.items | map(attribute="schedule_date") | max }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                NON CONFIRMING MATERIAL WILL BE REJECTED AND SENT BACK TO YOU<br>
                INSPECTION WILL BE DONE AT YOUR WORKS BEFORE DISPATCH TO US.
            </td>
        </tr>
        <!-- <tr>
            <td>Prepared By:</td>
            <td>Approved By:</td>
           
        </tr>
         <tr>
            <td>  {{ frappe.session.user_fullname or frappe.session.user }}</td>
            <td>{% if doc.owner %}
            {{ frappe.get_doc("User", doc.owner).full_name }}
        {% endif %}</td>
           
        </tr> -->
        <tr>
    <td>
        <b>Prepared By:  </b>
        {{ frappe.session.user_fullname or frappe.session.user }}
    </td>

    <td>
        <b>Approved By:  </b>
        {% if doc.owner %}
            {{ frappe.get_doc("User", doc.owner).full_name }}
        {% endif %}
    </td>
</tr>
        
    </table>

</div>

</body>
</html>
