<style>
{% include "renu_customization/renu_customization/print_format/rfa_product_domestic_oa/rfa_product_domestic_oa.css" %}
</style>

{% set company = frappe.get_doc("Company", doc.company) %}
{% set so = frappe.get_doc("Sales Order", doc.items[0].sales_order) if doc.items and doc.items[0].sales_order else "" %}
{% set total_cgst = so.total_cgst_amount if so else 0 %}
{% set total_sgst = so.total_sgst_amount if so else 0 %}

<div class="print-container">
  <table class="outer-table">
      <!-- HEADER -->
      <tr>
          <td colspan="4" class="header-center">
              <h2>Order Acceptance / Proforma Invoice</h2>
          </td>
      </tr>
      <tr>
          <td colspan="4" class="header-center">
              <p>Issued under Section 31 of The Central Goods And Services Tax Act, 2017 Read with Chapter IV of Central Goods and Service Tax Rules, 2017</p>
          </td>
      </tr>

      <!-- COMPANY, BUYER PO, WARRANTY -->
      <tr>
          <td colspan="2" class="company-info">
                <div class="grid"
                    style="display: grid; grid-template-columns: 100px auto; align-items: center; gap: 10px;">
                    <!-- Logo -->
                    <div class="logo-placeholder grid-item">
                        <img src="{{ company.logo_for_printing }}" style="max-width: 100px;">
                    </div>
                    <!-- Company Details -->
                    <div class="company-details grid-item">
                        <p><b>{{ doc.company or "" }}</b></p>
                        <p style="padding: 5px">
                            <strong>Factory Address:- </strong>
                            {{ frappe.db.get_value("Address", doc.company_address, "address_line1") or "" }}
                        </p>
                    </div>
                </div>
                <p style="padding: 5px"><strong>Tel. No. </strong>{{
                    frappe.db.get_value("Address",doc.company_address,"phone") or "" }}
                    <strong>Email: </strong>{{ frappe.db.get_value("Address",doc.company_address,"email_id") or "" }}
                </p>
            </td>
          <td colspan="2" rowspan="2" class="grid vertical-space">
            <div class="grid-container">
                <span class="label">Buyer's PO No.</span> <span class="value">{{doc.po_no or ""}}</span>
                <span class="label">PO Date</span> <span class="value">{{doc.po_date or ""}}</span>
                <span class="label">Transport Mode</span> <span class="value">{{doc.transport_mode or ""}}</span>
                <span class="label">Packing</span> <span class="value">{{doc.packing or ""}}</span>
                <span class="label">Insurance</span> <span class="value">{{doc.insurance or ""}}</span>
                <span class="label">Warranty</span> <span class="value">{{doc.warr or ""}}<br/></span>
            </div>
          </td>
          
      </tr>

      <!-- OA DETAILS & DELIVERY TERMS -->
      <tr>
          <td colspan="2" class="oa-section">
              <div class="oa-container">
                  <div class="oa-labels">
                      <span>OA No.:</span>
                      <span>OA Date:</span>
                      <span>GST No.:</span>
                      <span>PAN:</span>
                      <span>Delivery Term:</span>
                  </div>
                  <div class="oa-values">
                      <span>{{ doc.name or " "}}</span>
                      <span>{{ doc.transaction_date or " "}}</span>
                      <span>{{ frappe.db.get_value("Company", doc.company, "gstin") or "  " }}</span>
                      <span>{{ frappe.db.get_value("Company", doc.company, "pan") or " " }}</span>
                      <span>{{doc.delivery_term or " "}}</span>
                  </div>
              </div>
          </td>
      </tr>

      <!-- ADDRESS BLOCKS AND IRN -->
        <tr>
            <td colspan="2" class="address-block">
                <p><b>Billed To: </b> {{frappe.db.get_value("Customer",doc.customer, "customer_code") or ""}} <br />
                    {{ doc.customer_name or ""}}</p>
                <p>{{ frappe.db.get_value("Address", doc.customer_address , "address_line1") or "" }},
                    {{ frappe.db.get_value("Address", doc.customer_address , "address_line2") or "" }},
                    {{ frappe.db.get_value("Address", doc.customer_address , "city") or "" }},
                    - {{ frappe.db.get_value("Address", doc.customer_address , "pincode") or "" }} <br>
                    <b>PAN: </b>{{ frappe.db.get_value("Customer",doc.customer, "pan") or "-----" }}&nbsp; &nbsp; <b>GST No:
                    </b>{{ frappe.db.get_value("Address", doc.customer_address , "gstin") or "" }}<br />
                    <b>State & Code :</b> {{ frappe.db.get_value("Address",doc.customer_address, "gst_state_number") or
                    "" }}-{{ frappe.db.get_value("Address", doc.customer_address , "gst_state") or "" }}
                    <br />
                    {{ frappe.db.get_value("Address", doc.customer_address , "country") or "" }}

                </p><br>

                <p>Kind Attention: {{ frappe.db.get_value("Contact", doc.contact_person, "first_name") or "" }} {{ frappe.db.get_value("Contact", doc.contact_person, "last_name") or "" }}</p>
                <p>Contact No: {{ frappe.db.get_value("Address", doc.customer_address , "phone") or "" }}</p>

            </td>
            <td colspan="2" class="address-block">
                <p><b>Shipped To: </b> {{frappe.db.get_value("Customer",doc.customer, "customer_code") or ""}} <br />
                    {{ doc.customer_name or ""}}</p>

                <p>{{ frappe.db.get_value("Address", doc.shipping_address_name , "address_line1") or "" }}
                    {{ frappe.db.get_value("Address", doc.shipping_address_name , "address_line2") or "" }}
                    {{ frappe.db.get_value("Address", doc.shipping_address_name , "city") or "" }},
                    - {{ frappe.db.get_value("Address", doc.shipping_address_name , "pincode") or "" }} <br>
                    <b>PAN:</b> {{ frappe.db.get_value("Customer",doc.customer, "pan") or "" }} &nbsp; &nbsp;
                    <b>GST No: </b>{{ frappe.db.get_value("Address", doc.shipping_address_name , "gstin") or "" }}<br />
                    <b>State & Code : </b>{{ frappe.db.get_value("Address",doc.shipping_address_name,
                    "gst_state_number") or "" }}-{{ frappe.db.get_value("Address", doc.shipping_address_name ,
                    "gst_state") or "" }}
                    <br />
                    {{ frappe.db.get_value("Address", doc.shipping_address_name , "country") or "" }}

                </p><br>

                <p>Kind Attention: {{ frappe.db.get_value("Contact", doc.contact_person, "first_name") or "" }} {{ frappe.db.get_value("Contact", doc.contact_person, "last_name") or "" }}</p>
                <p>Contact No: {{ frappe.db.get_value("Address", doc.shipping_address_name , "phone") or "" }}</p>

            </td>
        </tr>
      <!-- ITEMS -->
      <tr>
          <td colspan="4">
              <table class="items-table">
                  <thead>
                      <tr>
                          <th>Sr.No.</th>
                          <th>Item Code</th>
                          <th>Description of Goods</th>
                          <th>Dispatch Date</th>
                          <th>HSN Code</th>
                          <th>GST%</th>
                          <th>Qty</th>
                          <th>Rate in {{doc.currency or ""}}</th>
                          <th>UOM</th>
                          <th>Amount in {{doc.currency or ""}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for row in doc.items %}
                      <tr>
                          <td>{{loop.index}}</td>
                          <td>{{ row.item_code or "" }}</td>
                          <td>{{ row.item_name or ""}}<br>
                          {{row.party_item_code or ""}}</td>
                          <td>{{ row.delivery_date or ""}}</td>
                          <td>{{ row.gst_hsn_code or ''}}</td>
                          {% if row.igst_rate %}
                              <td>{{ row.igst_rate or "" }}</td>
                          {% elif row.cgst_rate and row.sgst_rate %}
                              <td>{{ row.cgst_rate + row.sgst_rate or "" }}</td>
                          {% else %}
                              <td>{{""}}</td>
                          {% endif %}
                          <td>{{row.qty or 0}}</td>
                          <td class="right">{{"{:,.2f}".format(row.rate | float) or 0}}</td>
                          <td>{{row.uom or ""}}</td>
                          <td class="right">{{"{:,.2f}".format( row.amount | float) or 0}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="4">&nbsp;</td>
                          <td></td>
                          <td colspan="1"><b>Total Qty</b></td>
                          <td colspan="1" class="right">{{doc.total_qty or 0}}</td>
                          <td></td>
                          <td><b>Total</b></td>
                          <td colspan="2" class="right">{{ "{:,.2f}".format(doc.total | float) or 0}}</td>
                      </tr>
                  </tfoot>
              </table>
          </td>
      </tr>

      <!-- BANK DETAILS & TAX SUMMARY -->
      <tr>
          <!-- <td colspan="3" class="bank-grid">
              
                {% set inr_bank_list = frappe.get_list("Bank Account", 
                    filters={"company": doc.company, "account_subtype": "INR", "is_default": 1}, 
                    fields=["name", "bank", "address_html", "bank_account_no", "ifsc_code", "account_type", "account_subtype"],
                    limit=1
                ) %}

                {% if inr_bank_list %}
                    {% set bank = inr_bank_list[0] %}
                <p class="grid-row col left"> Bank Details:</p>
                    <p class="grid-row">
                        <span class="col left">Name Of Bank:</span>
                        <span class="col right">{{ bank.bank or "" }}</span>
                    </p>
                    <p class="grid-row">
                        <span class="col left">Address Of Branch:</span>
                        <span class="col right">{% set bank_address_name = frappe.db.get_value(
                                "Dynamic Link",
                                {"link_doctype": "Bank Account", "link_name": bank.name, "parenttype": "Address"},
                                "parent"
                            ) %}
                            {% if bank_address_name %}
                                {% set addr = frappe.get_doc("Address", bank_address_name) %}
                                {{ addr.address_line1 or "" }}, 
                                {{ addr.city or "" }}, {{ addr.pincode or "" }}
                            {% endif %}</span>
                    </p>
                    <p class="grid-row">
                        <span class="col left">IFSC Code: </span>
                        <span class="col right"> {{ bank.ifsc_code or "" }}</span>
                    </p>
                {% endif %}
                    <p class="grid-row">
                        <span class="col left">Account No. </span>
                        <span class="col right"> 
                            {{ bank.bank_account_no or "" }}</span>
                    </p>
                    <p class="grid-row">
                        <span class="col left">Type of A/C </span>
                        <span class="col right"> 
                            {{ bank.account_type or "" }}</span>
                    </p>
                    <p class="grid-row">
                        <span class="col left">Ultimate Beneficiary:</span>
                        <span class="col right">{{ doc.company or "" }}</span>
                    </p>
                
            </td> -->

            <td colspan="3" class="bank-details bank-grid">
    <table style="width:100%; border-collapse: collapse; font-size: 12px;" border="1">

        {# --------------------- FOREIGN BANK DETAILS --------------------- #}
        {% set foreign_bank_list = frappe.get_list("Bank Account", 
            filters={"company": doc.company, "account_subtype": doc.currency if doc.currency != "INR" else ""}, 
            fields=["name", "bank", "bank_account_no", "iban", "fedwire_aba", "sort_code", "branch_code", "account_type", "account_subtype", "address_html"],
            limit=1
        ) %}
        {% set inr_bank_list = frappe.get_list("Bank Account", 
            filters={"company": doc.company, "account_subtype": "INR", "is_default": 1}, 
            fields=["name", "bank", "address_html", "bank_account_no", "ifsc_code", "account_type", "account_subtype"],
            limit=1
        ) %}

        {% if foreign_bank_list %}
            {% set fbank = foreign_bank_list[0] %}

            <tr>
                <td colspan="2" style="font-weight:bold; background:#f2f2f2; ">Bank Details</td>
            </tr>

            <tr>
                <td style="width:40%; padding:5px;">Name of Bank:</td>
                <td style="padding:5px;">{{ fbank.bank or "" }}</td>
            </tr>

            <tr>
                <td style="padding:5px;">Swift Code:</td>
                <td style="padding:5px;">
                    {{ frappe.db.get_value("Bank", fbank.bank, "swift_number") or "" }}

                    {% if fbank.account_subtype == "EUR" %}
                        <br><b>IBAN No.:</b> {{ fbank.iban or "" }}
                    {% elif fbank.account_subtype == "USD" %}
                        <br><b>FEDWIRE ABA:</b> {{ fbank.fedwire_aba or "" }}
                    {% elif fbank.account_subtype == "GBP" %}
                        <br><b>Sort Code:</b> {{ fbank.sort_code or "" }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td style="padding:5px;">Favouring:</td>
                <td style="padding:5px;">
                    A/c No. {{ fbank.bank_account_no or "" }},
                    {{ inr_bank_list and inr_bank_list[0].bank or "" }}
                </td>
            </tr>
        {% endif %}


        {# --------------------- INR BANK DETAILS --------------------- #}
        {% if inr_bank_list %}
            {% set inr = inr_bank_list[0] %}

            <tr>
                <td style="padding:5px;">For further credit to (Must include in instructions)</td>
                <td style="padding:5px;">
                    {{ inr.bank or "" }},
                    
                    {# Dynamic address fetch #}
                    {% set bank_address_name = frappe.db.get_value(
                        "Dynamic Link",
                        {"link_doctype": "Bank Account", "link_name": inr.name, "parenttype": "Address"},
                        "parent"
                    ) %}
                    {% if bank_address_name %}
                        {% set addr = frappe.get_doc("Address", bank_address_name) %}
                        {{ addr.address_line1 or "" }},
                    {% endif %}
                    A/C No.: {{ inr.bank_account_no or "" }}
                </td>
            </tr>

            <tr>
                <td style="padding:5px;">Ultimate Beneficiary:</td>
                <td style="padding:5px;">{{ doc.company or "" }}</td>
            </tr>
        {% endif %}

    </table>
</td>
          
          <td colspan="2" style="font-size: 11px; padding-top:10px;" >
                <p  style="display: grid; grid-template-columns: 160px auto; align-items: center; gap: 10px;"><span class="bold grid-item gap-7"><b>Total Taxable Value:</b></span> <span class="grid-item" style="text-align: right;">{{ "{:,.2f}".format(doc.total | float) or 0 }}</span></p>
                <div id="taxes-section">
                    {%- set data = doc.taxes -%}
                    {%- set print_settings = frappe.get_doc("Print Settings")  -%}
                    {% include "erpnext/templates/print_formats/includes/taxes.html" %}
                </div>
            </td>

      </tr>

      <!-- TOTAL IN WORDS & GRAND TOTAL -->
      <tr >
          <td  style="font-size:11px; width: 20%;"><b>TOTAL (In words):</b></td>
          <td colspan="2" style="font-size:11px; width: 45%;">{{doc.in_words or ""}}</td>
          <td  style="width:40%">
            <p class="grid-row" style="font-size:12px">
                <span class="col left" ><b>GRAND TOTAL ({{doc.currency}})</b></span>
                <span class="col right" style="text-align: right;">{{ "{:,.2f}".format(doc.rounded_total | float) or 0 }}</span>
            </p>
           </td>
         
      </tr>

      <!-- PAYMENT TERMS & SIGNATURE -->
      <tr >
          <td colspan="1" class="payment_term"><b>Payment Term:-</b></td>
          <td colspan="2" style="font-size: 12px;">
               <p><b>{{ doc.payment_schedule[0].payment_term or ""}}</b></p>      
          </td>
          <td rowspan="2" class="signature-block" >For {{doc.company or ""}}<br/><br/><br/><br/><br/>
         <!-- <p class="bottom-text" style="text-align: center;">Authorised Signatory</p>   -->
          <p class="bottom-text" style="text-align: right;">{{ frappe.get_doc("User", frappe.session.user).full_name }}</p>
        </td>
      </tr>
      <tr>
        <td colspan="1" class="payment_term"><b>Important Note:-</b></td>
          <td colspan="2" style="font-size: 12px;">
               <p><b>{{ doc.important_note or ""}}</b></p>      
          </td>
      </tr>
      <tr>
          <td colspan="3">
            <p></p><br/>
          </td>
      </tr>

      <!-- FOOTER -->
      <tr>
          <td colspan="4" class="footer-line">
               Reg. Office Address :- {{frappe.db.get_value("Address", doc.company_address, "address_line1") or ""}} Website:- {{company.website or ""}}
          </td>
      </tr>
  </table>
</div>
